/*--Front Up v0.0.1--*/
[class*="col-"],
nav,
aside,
section,
div[role="main"] {
  padding-top: 15px;
  padding-bottom: 15px;
}
header {
  background: #000;
}
div[role="main"] {
  background-color: #fff;
}
div[role="main"],
aside {
  height: 600px;
}
body {
  font-family: calibri;
}
nav {
  margin-bottom: 0 !important;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flickity-page-dots {
  bottom: 15px !important;
}
.flickity-page-dots .dot {
  width: 15px !important;
  height: 15px !important;
  background: none !important;
  border: solid 5px rebeccapurple;
}
.image-liquid {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
}
#topo {
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  margin-left: 5px;
}
.list-line {
  padding: 0;
  list-style: none;
}
.list-line > li {
  float: left;
  margin: 5px;
}
.gallery {
  background: #EEE;
  margin-top: -82px;
}
.gallery-cell {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}
/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 500px;
  font-size: 80px;
  color: white;
}
.brand {
  width: 200px;
  height: 150px;
  background-image: url('../../assets/brand-full.png');
}
#menu-bar {
  background: none !important;
  border-bottom-color: #e7e7e7 !important;
  z-index: 2;
}
.item-menu {
  font-size: 18px;
}
.item-menu > a {
  text-decoration: none;
}
.search-detail {
  margin-right: 5px;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url('../../assets/find-detail.png');
}
.list-line-field {
  padding: 0;
  list-style: none;
}
.list-line-field > li {
  float: left;
  margin: 5px;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
.style-1 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}
#search-bar {
  background: #dcdcdc;
}
@media (min-width: 769px) {
  .select-style {
    color: #a5a0a0;
    font-size: 22px;
    border: solid 2px;
    width: 150px !important;
    height: 80px !important;
    border-radius: 0 !important;
  }
  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 150px;
    height: 77px;
    border-radius: 0 !important;
  }
}
@media (max-width: 768px) {
  .search-detail {
    display: none;
  }
  #topo {
    display: none;
  }
  .list-line {
    display: none;
  }
  .gallery {
    margin-top: 0;
  }
  .gallery-cell {
    height: 200px;
  }
  .gallery-cell:before {
    line-height: 200px;
  }
}
.full {
  width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #222;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-top: 5px solid #6b5;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #6b5;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #fff;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #fff;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #000;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #000;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #000 !important;
}
.footer-bottom {
  color: #fff;
  background: #1f1d1f;
  border-top: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em;
}
.highlighted {
  background: #eee;
}
.tab-button {
  color: #ababab;
}
.tab-button.active {
  color: #fff;
  background: #76d668;
}
.bt-hight {
  font-weight: bold;
  background: #76d668;
}
.label-rent {
  color: #069;
  text-transform: uppercase;
}
.rule-rent {
  border-top: 5px solid #069;
}
#price {
  right: 30px;
  color: #fa4;
  bottom: 180px;
  padding: 10px;
  background: #000;
  position: absolute;
}
#details-type {
  font-weight: bold;
}
#details-rent-icons {
  font-size: 15px;
  color: #777;
  margin-left: -20px;
  padding: 0;
}
#details-rent-icons > ul {
  list-style: none;
}
#details-rent-icons > ul li {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#details-label {
  font-size: 12px;
}
.bt-rent {
  font-weight: 700;
  color: #fff;
  background: #069;
}
.label-sold {
  color: #fa4;
  text-transform: uppercase;
}
.rule-sold {
  border-top: 5px solid #fa4;
}
#price {
  right: 30px;
  color: #fa4;
  bottom: 180px;
  padding: 10px;
  background: #000;
  position: absolute;
}
#details-type {
  font-weight: bold;
}
#details-rent-icons {
  font-size: 15px;
  color: #777;
  margin-left: -20px;
  padding: 0;
}
#details-rent-icons > ul {
  list-style: none;
}
#details-rent-icons > ul li {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#details-label {
  font-size: 12px;
}
.bt-sold {
  font-weight: 700;
  color: #fff;
  background: #fa4;
}
