#main-header {
  background: #000;
  color: #fff;
  z-index: 2;
}
#main-header > section div {
  margin: 0;
  padding: 0;
}
#main-header > section div > ul {
  margin: 0;
  list-style: none;
}
#main-header > section div > ul > li {
  float: left;
  margin: 0;
  padding: 5px;
}
#navbar {
  z-index: 2;
}
.navbar-default {
  background: rgba(255, 255, 255, 0);
}
#main-slide {
  padding: 0;
  margin-top: -72px;
}
.img-container {
  min-height: 400px;
  background: silver;
  background-repeat: no-repeat;
  background-size: 100% 400px;
  background-position: center top;
  /*padding: 40px; (If don't want to set min-height or some image content is there) */
}
