
  <div class="menu" class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brand" class="navbar-brand" href="#">Apartmentos Manaus</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">A Empresa</a></li>
        <li><a href="#">Venda</a></li>
        <li><a href="#">Locação</a></li>
        <li><a href="#">Cadastro de Imoves</a></li>
        <li><a href="#">Financiamento</a></li>
        <li><a href="#">Fale Conosco</a></li>
      </ul>
    </div>
  </div>
