<section  id="search" class="container">
  <!-- <div class="col-lg-9"> -->
    <div class="col-lg-2 search-detail"></div>
    <form class="form-inline">
      <div class="form-group">
        <select class="form-control select-style">
          <option selected>Tipo</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control select-style">
          <option selected>Finalidade</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control select-style">
          <option selected>Bairro</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control select-style">
          <option selected>Valor</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control select-style">
          <option selected>Dormitórios</option>
        </select>
      </div>
    <button type="submit" class="btn btn-success">Buscar</button>
  </form>
  <!-- </div> -->
</section>
