<section class="container">
  <h1 class="label-rent">Imóveis para aluguel</h1>
  <hr class="rule-rent"/>

  <div class="container">
    <div  class="row" >

      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-6 col-md-4" style="background:none;box-shadow:none;border:none;">
        <div class="image-liquid " style="background-image: url('https://img.tecnisa.com.br/images/imoveis/77/Ilustracao/10_fm.jpg')"></div>
        <div id="price">R$ 1000,00</div>
        <div class="col-xs-12" id="details-type"> Apartamento </div>
        <div class="col-xs-12" id="details-rent-icons">
          <ul>
            <li>3 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>2 <i class="fa fa-bed" aria-hidden="true"></i></li>
            <li>300 M²</li>
          </ul>
        </div>
        <div class="col-xs-12" id="details-label">
        	Lorem ipsum nostra gravida lobortis ut vivamus nibh mollis, nisl vel suspendisse tempor ullamcorper elit tellus fames per, aptent euismod dictumst semper sapien commodo augue.
        </div>
        <button class="btn col-xs-12 bt-rent"> Mais detalhes</button>
      </div>

    </div>
  </div>
</section>
